<!DOCTYPE html>
<html>
<body>
  <div class="container">
      <div class="row padding-inside-top-md">

          <div class="col-md-offset-2 col-md-2">
            <h4>Restaurant Name</h4>
          </div>

          <div class="col-md-2">
            <h4>Rating </h4>
          </div>

          <div class="col-md-2">
            <h4>Basic info $$</h4>
          </div>

          <div class="col-md-2">
            <h4>Address/map</h4>
          </div>

      </div>

      <div class="row col-md-12  inside-padding-top-sm">
          <h3 class="text-center">Placeholder - will populated restaurants that user has rated
          </h3>
      </div>


  </div>

  <div class="container">
    <div class="row padding-inside-top-md">

        <div class="col-md-offset-2 col-md-2">
          <a href="/userid">Main Page</a>
        </div>

        <div class="col-md-2">
          <a href="/recs">Recommendations</a>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-2">
        </div>

    </div>






</body>
</html>
