<!DOCTYPE html>
<html>
<body>

<div class="container col-md-offset-1 col-md-9">
  <table class="table table-hover">
    <thead>
        <tr>
         <th class="col-md-4">Restaurant</th>
         <th class="col-md-1">Rating</th>
         <th class="col-md-2">Basic Info</th>
         <th class="col-md-2">Address/map</th>
       </tr>
    </thead>

    <tbody>
        <% @ratings.each do |rating| %>
        <tr>
          <td><%= rating.restid %></td>
          <td><%= rating.rating %></td>
          <td> Basic Info</td>
          <td> Address/map</td>
        </tr>
        <% end %>

    </tbody>
  </table>

</div>

  <div class="container">
    <div class="row padding-inside-top-md">

        <div class="col-md-offset-2 col-md-2">
          <a href="/userid">Main Page</a>
        </div>

        <div class="col-md-2">
          <a href="/recs">Recommendations</a>
        </div>

        <div class="col-md-2">
        </div>

        <div class="col-md-2">
        </div>

    </div>






</body>
</html>
